<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="HotelC4TA"
             connectionString="Server=DESKTOP-T00OSAU\SQLEXPRESS;Database=HotelC4TA;Trusted_Connection=True;TrustServerCertificate=True"
             providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>